/* main css */

body {
    background-color: #D4DAF7;
    color: #271627;

}
div,i {
    text-align: center;
}

i {
    cursor: pointer;
}

.header {
    text-align: center;
}

video {
    text-align: center;
}

.center {
    margin: 0 auto;
}